<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>
    <script src="js/plupload.full.min.js"></script>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
  <div class="body-content">
    <form id="form" method="post" class="form-x" enctype="multipart/form-data" >
      <div class="form-group">
        <div class="label">
          <label>网站标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="webTitle" value="" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>网站LOGO：</label>
        </div>
        <div class="field">
          <input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传" onchange="updateLoadImg()">
            <input id="logoMD5" name="webLogo" value="" type="hidden">
        </div>
         <img id="previewImg" style="display: none;" width="300" height="200"  style="position:relative;left:10px;top:5px;" alt="">
      </div>

      <div class="form-group">
        <div class="label">
          <label>网站域名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="domainName" value="" />
        </div>
      </div>
      <div class="form-group" style="display:none">
        <div class="label">
          <label>副加标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="sentitle" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站关键字：</label>
        </div>
        <div class="field">
          <textarea class="input" name="Keyword" style="height:80px"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="webDescription"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>联系人：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="contactPeople" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>手机：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="mobile" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>公司座机：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="CompanyPhone" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group" style="display:none;">
        <div class="label">
          <label>400电话：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="s_400" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>传真：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="faxes" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>QQ：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="qq" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group" style="display:none">
        <div class="label">
          <label>QQ群：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="s_qqu" value="" />
          <div class="tips"></div>
        </div>
      </div>
     
      <div class="form-group">
        <div class="label">
          <label>Email：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="email" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>地址：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="address" value="" />
          <div class="tips"></div>
        </div>
      </div>  
              
      <div class="form-group">
        <div class="label">
          <label>底部信息：</label>
        </div>
        <div class="field">
          <textarea name="webstat" class="input" style="height:120px;"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="submit" class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>


<script>
    //实例化一个plupload上传对象
    var uploader = new plupload.Uploader({
        browse_button : 'image1', //触发文件选择对话框的按钮，为那个元素id
        url : '/common/upload', //服务器端的上传页面地址
        flash_swf_url : 'js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
        max_file_size: '2mb',//限制为2MB
        filters: [{title: "Image files",extensions: "jpg,gif,png"}]//图片限制
//      silverlight_xap_url : 'js/Moxie.xap' //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
    });
    //在实例对象上调用init()方法进行初始化
    uploader.init();
    //图片选择完毕触发
    uploader.bind('FilesAdded',function(uploader,file){
//        alert('图片选择完毕触发');
        uploader.start();
    });
    //图片上传成功触发，ps:data是返回值（第三个参数是返回值）
    uploader.bind('FileUploaded',function(uploader,file,data){
        var MD5 = JSON.parse(data.response).response.fileMD5;
        $('#previewImg').show();
        $('#logoMD5').val(MD5);
        console.log(data);
        $.ajax({
            url: '/common/getFile',
            data:{fileMD5: MD5},
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $('#previewImg').prop('src', 'data:image/'+data.response.suffixName+';base64,' + data.response.base64String);
            },
            error: function () {
                alert('出错！');
            }
        })
//        $('#previewImg').prop('src','');

    });
    //会在文件上传过程中不断触发，可以用此事件来显示上传进度监听（比如说上传进度）
    uploader.bind('UploadProgress',function(uploader,file){

    });
    //还有N多呢.....，具体参考链接==>http://www.sojson.com/jc_plupload.html

//    的各种事件说明。
    //最后给"开始上传"按钮注册事件
//    document.getElementById('start_upload').onclick = function(){
//        uploader.start(); //调用实例对象的start()方法开始上传文件，当然你也可以在其他地方调用该方法
//    }
</script>

<script>
    $('#submit').click(function () {
        $.ajax({
            url: 'admin/addwebSite',
            data: $('#form').serialize(),
            type: 'POST',
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (json.code == 0) {
                    alert(json.msg)
                    location.href = '/websiteSet';
                } else {
                    alert(json.msg);
                }
            },
            error: function () {
                alert('出错');
            }
        });
        return false;
    });



</script>





</body></html>